@charset "UTF-8";

*, ::after, ::before {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}


body {
	background-color: #f8f9fa;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear_both {
	clear: both;
}

.display_none {
	display: none;
}

.overflow_hidden {
	overflow: hidden;
}

.width1200 {
	width: 1200px;
	margin: 0 auto;
}

.width1300 {
	width: 1300px;
	margin: 0 auto;
}

.color_gray {
	color: gray;
}

.text_left {
	text-align: left;
}

.text_center {
	text-align: center;
}

header {
	padding: 20px 0;
}

nav {
	background-color: #563d7c;
	height: 80px;
}

nav ul li {
	list-style: none;
	float: left;
	width: 20%;
	text-align: center;
	padding: 25px 0;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.1em;
}

nav ul li a:hover {
	font-weight: bold;
	font-size: 1.3em;
}

section {
	padding-top: 30px;
}

/*--*/
input, button, select, img {
	cursor: pointer;
}

input[type='text'], input[type='search'], input[type='password'] {
	cursor: text;
}

input[type='submit'], button {
	background-color: #563d7c;
	color: white;
	border: 1px solid #563d7c;
	border-radius: 3px;
}

input[type='button'] {
	background-color: gray;
	color: white;
	border: 1px solid gray;
	border-radius: 3px;
}
