<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.mappers.departmentMapper">
	
    <select id="searchDepartmentCount" resultType="int">
		SELECT COUNT(department_id) FROM department WHERE name LIKE '%${searchContent}%'
	</select>
	
	<insert id="insertDepartment" parameterType="Department">
		INSERT INTO department(name) VALUES (#{name})
	</insert>
	
	<select id="selectDepartmentById" resultType="Department">
		SELECT * FROM department WHERE department_id = #{departmentId}
	</select>
	
	<update id="updateDepartment" parameterType="Department">
		UPDATE department SET name = #{name} WHERE department_id = #{departmentId}
	</update>
	
	<delete id="deleteDepartment" parameterType="int">
		DELETE FROM department WHERE department_id = #{departmentId}
	</delete>
</mapper>