<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.mappers.equipmentMapper">

	<select id="searchEquipment" resultType="Equipment">
		SELECT * 
		FROM equipment 
		WHERE name LIKE '%${searchContent}%' 
		ORDER BY equipment_id DESC 
		LIMIT #{pageStart}, #{amount}
	</select>
	
	<select id="searchEquipmentCount" resultType="int">
		SELECT COUNT(equipment_id) 
		FROM equipment 
		WHERE name LIKE '%${searchContent}%'
	</select>
	
	<insert id="insertEquipment" parameterType="Equipment">
		INSERT INTO equipment(name, register_date) 
		VALUES (#{name}, #{registerDate})
	</insert>
	
	<select id="selectEquipmentById" resultType="Equipment">
		SELECT * 
		FROM equipment 
		WHERE equipment_id = #{equipmentId}
	</select>
	
	<update id="updateEquipment" parameterType="Equipment">
		UPDATE equipment 
		SET name = #{name} 
		WHERE equipment_id = #{equipmentId}
	</update>
	
	<delete id="deleteEquipment" parameterType="int">
		DELETE FROM equipment 
		WHERE equipment_id = #{equipmentId}
	</delete>
	
	<select id="selectEquipment" resultType="Equipment">
		SELECT * 
		FROM equipment
	</select>
</mapper>