@charset "UTF-8";

/* ----- 리스트 ----- */
table {
	border-collapse: collapse;
	width: 100%;
	margin: 5px 0;
}
td {
	border-bottom: 1px solid #aaa;
	padding: 8px 0;
	text-align: center;
	cursor: pointer;
}
tr:last-child {
	border-bottom: 2px solid black;
}
th {
	background-color: #D8D8D8;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	padding: 10px 0;
}
input[type='text'], input[type='search'], input[type='date'], input[type='password'], select {
	padding: 3px 0;
	border-radius: 3px;
	border: 1px solid rgb(169,169,169);
}
input[type='text'], input[type='date'] {
	width: 150px;
}
input[type='search'] {
	width: 200px;
}


/* ----- 페이지 ----- */
#page {
	text-align: center;
	margin-top: 20px;
}
.pagination li {
	width: 20px;
	list-style: none;
	display: inline-block;
}
.color_sky {
	background-color: #6799FF !important;
}
.page_shape {
	background-color: rgb(189, 189, 189);
	width: 10px;
	height: 10px;
	border-radius: 5px;
	display: inline-block;
}