@charset "UTF-8";

table {
	border-collapse: collapse;
	width: 100%;
	margin: 10px 0;
}
table th:first-child {
	background-color : #563d7c;
	border-bottom: 1px solid black;
	padding: 5px;
	width: 30%;
	color: white;
	font-size: 14px;
}
td {
	padding: 10px 20px 10px 20px;
	width: 70%;
	border-bottom: 1px solid black;
}

tr:first-child {
	border-top: 2px solid black;
}

tr:last-child, .tr_last_child {
	border-bottom: 2px solid black;
}

.position_down {
	position: relative;
	top: -40px;
}

.margin_right {
	margin-right: 3px;
}

.tr_border_top {
	border-top: 1px solid black;
}