@charset "UTF-8";

tr:first-child {
	border-top: 2px solid black;
}


.td_border_hide {
	border-right: hidden;
}

.red {
	color: red;
}

.error {
	color: red;
	display: none;
}

.success {
	color: blue;
	display: none;
}

.td_input {
	text-align: left;
	padding: 2.5px;
	/* border-right: 1px solid #f8f9fa; */
}

.width20 {
	width: 20%;
}	

.width100 {
	width: 100%;
}	

/* input[type="text"] 지정해준것에 의해서 width속성이 안먹혀서 강제로 먹히게 함. */
.width100_Important {
	width: 100% !important;
}

input[type="text"],
input[type="password"] {
	width: 100%; /* 원하는 너비 설정 */
	height: auto; /* 높이값 초기화 */
	line-height: normal; /* line-height 초기화 */
	padding: .7em .4em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
	font-family: inherit; /* 폰트 상속 */
	border: 1px solid #999;
	border-radius: 0; /* iSO 둥근모서리 제거 */
	outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
}

input[type='submit'], 
input[type='button'] {
	padding: 10px 50px;
/* 	margin-top: 20px;
	margin: 5px 0 10px 0; */
	border-radius: 3px;
	border: 1px solid rgb(169,169,169);
}

input[name="memberId"],
input[name="email"] {
	width: 73%;
	margin-right: 3px;
}	
	
